  <div class="d-flex flex-column">
    <%= form_with model: article do |f| %>
    <div class="d-flex flex-column my-3 row-gap-1">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="d-flex flex-column my-3 row-gap-1">
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>
    <div class="btn btn-primary">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
